/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e3e6e6;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
}


/* Main Color Code 
   Primary Color: #ffa605;
   Secondary Color: #fff;
   Thirdy Color: #e3e6e6;
   Other Color: #151515;
*/





/* Common CSS */
.css-1hq7t8h-MuiTypography-root {
  display: flex !important;
}









/* Navbar CSS */
.navbar-sec {
}

.css-5iifl-MuiPaper-root-MuiAppBar-root {
  background-color: #151515 !important;
}

.main-logo {
  width: 80px;
  height: 80px;
}




/* Home CSS */
.home-sec {
  padding: 30px 0;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
}

.banner-slider {
  min-width: 65%;
  height: 100%;
  background-color: #fff;
  border-width: 1.5px 3px 1.5px 1.5px;
  border-style: solid;
  border-color: #e3e6e6;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.banner-advertise {
  min-width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-advertise div {
  width: 100%;
  height: 100%;
}

.banner-advertise div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-advertise div:first-child {
  background-color: #fff;
  border: 1.5px solid #e3e6e6;
  overflow: hidden;
}

.banner-advertise div:last-child {
  background-color: #fff;
  border: 1.5px solid #e3e6e6;
}

















/* Season Sale CSS */
.season-sec {
  padding: 30px 0;
}

.season-sec h2 {
  margin-bottom: 10px;
}

.season-sec > p {
  margin-bottom: 30px;
}

.season-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.season-body .season-image {
  background-color: #e3e6e6;
  width: 100%;
  height: 200px;
}

.season-body .season-image img{
  object-fit: cover; 
  object-position: center;
  width: 100% !important;
  height: 100% !important;
}

.season-body Card {
  position: relative;
}

.season-body Card .season-content {
  position: absolute !important;
  content: '';
  top: 0;
  left: 0;
}





/* All Products */
.all-products {
  padding: 50px 1px;
}




/* Footer CSS */
.footer-sec {
  background-color: #151515;
  padding: 30px 0;
  width: 100%;
}